includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/ekino/phpstan-banned-code/extension.neon

parameters:
    paths:
        - src
        - tests
    level: 9
    strictRules:
        disallowedLooseComparison: false
    banned_code:
        non_ignorable: false